In [1]:
import numpy as np
import pandas as pd
import xgboost as xgb
from typing import Tuple
from sklearn.multioutput import MultiOutputRegressor

In [2]:
train_df = pd.read_csv('../../data/electricity/train_df.csv')
train_df

,datetime_utc,price_de_lag_336,price_de_avg_24,price_at_lag_24,price_at_avg_24,price_fr_lag_24,price_fr_avg_24,load_de_lag_24,load_de_lag_168,load_at,gen_de,gen_de_lag_168,gen_at,gen_fr,windon_de,solar_de,price_de
0,2022-10-31 23:00:00+00:00,135.71,143.192083,130.59,145.302083,136.77,142.511250,48193.0200,49161.9775,4868.0,49417.49,50407.76,4079.2,40284.0,16063.7425,0.0,80.65
1,2022-11-01 00:00:00+00:00,140.35,141.425000,119.09,144.504167,119.09,140.804167,44770.8675,48136.9350,4378.0,49446.61,49715.33,4027.1,39246.0,16839.0400,0.0,76.68
2,2022-11-01 01:00:00+00:00,139.95,138.880833,116.32,143.657500,116.32,138.950417,43981.9450,47600.7900,4829.0,48568.35,49051.50,3933.9,39366.5,17616.8775,0.0,55.26
3,2022-11-01 02:00:00+00:00,150.30,135.647500,114.60,142.480000,114.60,136.477083,43422.0775,47753.3075,4773.0,48487.32,49083.27,3766.6,37003.5,17984.3850,0.0,37.00
4,2022-11-01 03:00:00+00:00,149.51,132.467917,115.07,141.435417,115.07,134.017500,43581.7450,49360.8175,4833.0,49072.56,50384.18,3585.8,34949.5,18902.0375,0.0,38.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8993,2023-11-10 18:00:00+00:00,120.89,90.798333,112.41,95.982917,112.22,90.937500,64363.1600,62435.3950,7798.0,54701.73,60625.63,7268.6,63410.5,15818.6625,0.0,123.58
8994,2023-11-10 19:00:00+00:00,100.05,91.503333,99.15,96.557083,103.63,91.325000,62330.2025,59991.6850,7289.0,51345.73,60074.36,6770.3,61559.0,15185.0900,0.0,112.93
8995,2023-11-10 20:00:00+00:00,96.84,92.433333,85.54,97.372083,92.50,91.850000,58638.3150,56167.5975,6780.0,47738.81,58340.22,6173.9,59780.5,14189.9350,0.0,105.10
8996,2023-11-10 21:00:00+00:00,93.70,93.263750,84.04,98.202500,84.04,92.680417,55156.1275,52589.0625,6568.0,45213.73,56945.46,5898.0,58930.5,13123.5375,0.0,103.97
8997,2023-11-10 22:00:00+00:00,84.60,94.048750,74.36,98.987500,74.36,93.465417,51880.5625,49415.5050,6097.0,42545.78,56195.82,5189.3,57284.0,12409.1350,0.0,93.20

In [3]:
test_df = pd.read_csv('../../data/electricity/test_df.csv')
test_df

,datetime_utc,price_de_lag_336,price_de_avg_24,price_at_lag_24,price_at_avg_24,price_fr_lag_24,price_fr_avg_24,load_de_lag_24,load_de_lag_168,load_at,gen_de,gen_de_lag_168,gen_at,gen_fr,windon_de,solar_de,price_de
0,2023-11-10 23:00:00+00:00,68.61,95.015417,65.62,99.890833,64.32,94.422917,48429.1425,45942.1875,5786.0,38133.71,47680.27,5311.9,54197.0,12174.5025,0.0000,87.30
1,2023-11-11 00:00:00+00:00,64.59,96.105417,59.75,100.980000,59.73,95.512917,45261.6750,43090.5175,5565.0,36733.03,47320.98,4997.7,51700.5,11698.9300,0.0000,85.89
2,2023-11-11 01:00:00+00:00,55.00,97.444583,53.74,102.319167,53.74,96.852083,43757.1975,41652.6000,5559.0,34924.21,47398.47,4781.9,50579.0,11689.8875,0.0000,85.88
3,2023-11-11 02:00:00+00:00,60.51,98.896667,48.36,103.771250,48.36,98.304167,43413.8800,40960.8775,5415.0,34693.03,47341.06,4532.1,49535.0,11895.2550,0.0000,83.21
4,2023-11-11 03:00:00+00:00,69.01,100.259583,50.00,105.134167,50.00,99.667083,44354.7750,40866.8275,5445.0,35366.32,48148.71,4500.3,48776.0,12127.9725,0.0000,82.71
5,2023-11-11 04:00:00+00:00,66.47,101.037083,70.19,105.769583,67.76,100.403750,46561.7825,41433.6925,5737.0,36797.09,48837.77,4561.7,48745.0,12433.2300,0.0000,85.44
6,2023-11-11 05:00:00+00:00,79.90,101.125417,99.36,105.225417,85.22,100.448750,50435.6075,42576.4925,6045.0,40130.24,49658.26,4711.0,48975.5,13073.1625,0.0000,86.30
7,2023-11-11 06:00:00+00:00,90.69,100.347917,110.73,104.278333,106.90,99.661250,56524.0175,44376.8950,6453.0,43176.43,50116.83,5267.8,49648.0,13443.2075,233.6975,88.00
8,2023-11-11 07:00:00+00:00,89.50,99.472917,113.00,103.403333,113.00,98.786250,60152.1925,46759.7700,6725.0,46590.94,54396.98,5536.1,51311.5,13536.4125,1913.4275,92.00
9,2023-11-11 08:00:00+00:00,87.01,98.906667,110.26,102.762917,111.05,98.112917,62482.7800,50029.3275,6851.0,49735.18,59324.28,5468.4,53550.0,13538.0750,4785.4625,94.89
10,2023-11-11 09:00:00+00:00,69.79,98.647083,98.93,102.444167,99.38,97.775417,63474.9850,52741.5400,6769.0,51587.87,62764.84,5427.8,54432.5,13726.7750,7575.2025,91.28
11,2023-11-11 10:00:00+00:00,69.86,98.659583,98.94,102.080833,92.21,97.692500,64238.3750,54417.2825,6619.0,52900.58,64407.38,5814.1,54690.0,13922.7175,9619.5625,90.22
12,2023-11-11 11:00:00+00:00,67.90,98.789583,103.45,101.434583,85.36,97.800000,64586.0525,55154.3825,6392.0,53942.72,63779.40,6056.1,54700.5,13866.5550,10239.0800,87.94
13,2023-11-11 12:00:00+00:00,73.91,98.823750,111.81,100.434167,90.15,97.702083,63827.4725,54769.5575,6186.0,52755.72,60787.43,6302.6,54567.0,13842.6325,9225.8025,87.80
14,2023-11-11 13:00:00+00:00,87.00,98.638333,117.44,99.353333,95.95,97.516667,62432.3725,53262.9925,6066.0,49505.78,56545.11,6645.3,54079.0,13532.3075,6742.8875,91.50
15,2023-11-11 14:00:00+00:00,112.02,98.258750,122.53,98.534167,106.95,97.346667,61234.4675,51817.6300,6154.0,45624.05,55507.65,7039.7,54864.5,12989.7050,3269.0325,102.87
16,2023-11-11 15:00:00+00:00,139.80,97.872083,132.62,97.837083,109.99,97.587917,60192.9325,51050.6700,6518.0,44912.20,56800.06,8274.8,56103.5,12593.9800,545.9850,115.72
17,2023-11-11 16:00:00+00:00,148.96,97.533750,135.09,97.540833,129.22,97.536250,60754.6575,51515.3225,6911.0,47309.45,61016.59,9181.8,57440.0,12680.4625,0.0000,127.98
18,2023-11-11 17:00:00+00:00,118.83,97.561250,135.10,97.568333,135.10,97.563750,62463.1725,53690.8825,7002.0,48553.27,62966.31,9479.5,58623.0,12879.3225,0.0000,135.76
19,2023-11-11 18:00:00+00:00,90.35,97.598333,123.58,97.605417,123.58,97.600833,61529.1575,54147.8450,6778.0,48406.87,64172.67,8844.4,58571.0,13020.1300,0.0000,124.47
20,2023-11-11 19:00:00+00:00,83.51,97.622500,112.93,97.629583,112.93,97.625000,59384.2900,52022.4650,6456.0,46098.96,62558.11,7819.3,57140.0,12936.2600,0.0000,113.51
21,2023-11-11 20:00:00+00:00,75.48,97.517500,105.10,97.524583,105.10,97.520000,55543.2850,48805.2775,6163.0,42134.36,59696.92,7267.9,56443.0,12595.2525,0.0000,102.58
22,2023-11-11 21:00:00+00:00,47.48,97.034583,103.97,97.041667,103.97,97.037083,52194.3775,46493.9300,6097.0,40131.10,56991.23,7076.6,56775.5,12039.9400,0.0000,92.38
23,2023-11-11 22:00:00+00:00,14.05,96.793333,93.20,96.800417,93.20,96.795833,49197.1600,44748.8250,5682.0,37321.90,54560.17,6655.5,57730.5,11257.7725,0.0000,87.41

In [4]:
X_train_df = pd.read_csv('../../data/electricity/y_train_df.csv')
X_train_df

                   datetime_utc  price_de
0     2022-10-31 23:00:00+00:00     80.65
1     2022-11-01 00:00:00+00:00     76.68
2     2022-11-01 01:00:00+00:00     55.26
3     2022-11-01 02:00:00+00:00     37.00
4     2022-11-01 03:00:00+00:00     38.76
...                         ...       ...
8993  2023-11-10 18:00:00+00:00    123.58
8994  2023-11-10 19:00:00+00:00    112.93
8995  2023-11-10 20:00:00+00:00    105.10
8996  2023-11-10 21:00:00+00:00    103.97
8997  2023-11-10 22:00:00+00:00     93.20

[8998 rows x 2 columns]

In [5]:
X_test_df = pd.read_csv('../../data/electricity/X_test_df.csv')
X_test_df

,datetime_utc,price_de_lag_336,price_de_avg_24,price_at_lag_24,price_at_avg_24,price_fr_lag_24,price_fr_avg_24,load_de_lag_24,load_de_lag_168,load_at,gen_de,gen_de_lag_168,gen_at,gen_fr,windon_de,solar_de
0,2023-11-10 23:00:00+00:00,68.61,95.015417,65.62,99.890833,64.32,94.422917,48429.1425,45942.1875,5786.0,38133.71,47680.27,5311.9,54197.0,12174.5025,0.0000
1,2023-11-11 00:00:00+00:00,64.59,96.105417,59.75,100.980000,59.73,95.512917,45261.6750,43090.5175,5565.0,36733.03,47320.98,4997.7,51700.5,11698.9300,0.0000
2,2023-11-11 01:00:00+00:00,55.00,97.444583,53.74,102.319167,53.74,96.852083,43757.1975,41652.6000,5559.0,34924.21,47398.47,4781.9,50579.0,11689.8875,0.0000
3,2023-11-11 02:00:00+00:00,60.51,98.896667,48.36,103.771250,48.36,98.304167,43413.8800,40960.8775,5415.0,34693.03,47341.06,4532.1,49535.0,11895.2550,0.0000
4,2023-11-11 03:00:00+00:00,69.01,100.259583,50.00,105.134167,50.00,99.667083,44354.7750,40866.8275,5445.0,35366.32,48148.71,4500.3,48776.0,12127.9725,0.0000
5,2023-11-11 04:00:00+00:00,66.47,101.037083,70.19,105.769583,67.76,100.403750,46561.7825,41433.6925,5737.0,36797.09,48837.77,4561.7,48745.0,12433.2300,0.0000
6,2023-11-11 05:00:00+00:00,79.90,101.125417,99.36,105.225417,85.22,100.448750,50435.6075,42576.4925,6045.0,40130.24,49658.26,4711.0,48975.5,13073.1625,0.0000
7,2023-11-11 06:00:00+00:00,90.69,100.347917,110.73,104.278333,106.90,99.661250,56524.0175,44376.8950,6453.0,43176.43,50116.83,5267.8,49648.0,13443.2075,233.6975
8,2023-11-11 07:00:00+00:00,89.50,99.472917,113.00,103.403333,113.00,98.786250,60152.1925,46759.7700,6725.0,46590.94,54396.98,5536.1,51311.5,13536.4125,1913.4275
9,2023-11-11 08:00:00+00:00,87.01,98.906667,110.26,102.762917,111.05,98.112917,62482.7800,50029.3275,6851.0,49735.18,59324.28,5468.4,53550.0,13538.0750,4785.4625
10,2023-11-11 09:00:00+00:00,69.79,98.647083,98.93,102.444167,99.38,97.775417,63474.9850,52741.5400,6769.0,51587.87,62764.84,5427.8,54432.5,13726.7750,7575.2025
11,2023-11-11 10:00:00+00:00,69.86,98.659583,98.94,102.080833,92.21,97.692500,64238.3750,54417.2825,6619.0,52900.58,64407.38,5814.1,54690.0,13922.7175,9619.5625
12,2023-11-11 11:00:00+00:00,67.90,98.789583,103.45,101.434583,85.36,97.800000,64586.0525,55154.3825,6392.0,53942.72,63779.40,6056.1,54700.5,13866.5550,10239.0800
13,2023-11-11 12:00:00+00:00,73.91,98.823750,111.81,100.434167,90.15,97.702083,63827.4725,54769.5575,6186.0,52755.72,60787.43,6302.6,54567.0,13842.6325,9225.8025
14,2023-11-11 13:00:00+00:00,87.00,98.638333,117.44,99.353333,95.95,97.516667,62432.3725,53262.9925,6066.0,49505.78,56545.11,6645.3,54079.0,13532.3075,6742.8875
15,2023-11-11 14:00:00+00:00,112.02,98.258750,122.53,98.534167,106.95,97.346667,61234.4675,51817.6300,6154.0,45624.05,55507.65,7039.7,54864.5,12989.7050,3269.0325
16,2023-11-11 15:00:00+00:00,139.80,97.872083,132.62,97.837083,109.99,97.587917,60192.9325,51050.6700,6518.0,44912.20,56800.06,8274.8,56103.5,12593.9800,545.9850
17,2023-11-11 16:00:00+00:00,148.96,97.533750,135.09,97.540833,129.22,97.536250,60754.6575,51515.3225,6911.0,47309.45,61016.59,9181.8,57440.0,12680.4625,0.0000
18,2023-11-11 17:00:00+00:00,118.83,97.561250,135.10,97.568333,135.10,97.563750,62463.1725,53690.8825,7002.0,48553.27,62966.31,9479.5,58623.0,12879.3225,0.0000
19,2023-11-11 18:00:00+00:00,90.35,97.598333,123.58,97.605417,123.58,97.600833,61529.1575,54147.8450,6778.0,48406.87,64172.67,8844.4,58571.0,13020.1300,0.0000
20,2023-11-11 19:00:00+00:00,83.51,97.622500,112.93,97.629583,112.93,97.625000,59384.2900,52022.4650,6456.0,46098.96,62558.11,7819.3,57140.0,12936.2600,0.0000
21,2023-11-11 20:00:00+00:00,75.48,97.517500,105.10,97.524583,105.10,97.520000,55543.2850,48805.2775,6163.0,42134.36,59696.92,7267.9,56443.0,12595.2525,0.0000
22,2023-11-11 21:00:00+00:00,47.48,97.034583,103.97,97.041667,103.97,97.037083,52194.3775,46493.9300,6097.0,40131.10,56991.23,7076.6,56775.5,12039.9400,0.0000
23,2023-11-11 22:00:00+00:00,14.05,96.793333,93.20,96.800417,93.20,96.795833,49197.1600,44748.8250,5682.0,37321.90,54560.17,6655.5,57730.5,11257.7725,0.0000

In [6]:
y_train_df = pd.read_csv('../../data/electricity/y_train_df.csv')
y_train_df

                   datetime_utc  price_de
0     2022-10-31 23:00:00+00:00     80.65
1     2022-11-01 00:00:00+00:00     76.68
2     2022-11-01 01:00:00+00:00     55.26
3     2022-11-01 02:00:00+00:00     37.00
4     2022-11-01 03:00:00+00:00     38.76
...                         ...       ...
8993  2023-11-10 18:00:00+00:00    123.58
8994  2023-11-10 19:00:00+00:00    112.93
8995  2023-11-10 20:00:00+00:00    105.10
8996  2023-11-10 21:00:00+00:00    103.97
8997  2023-11-10 22:00:00+00:00     93.20

[8998 rows x 2 columns]

In [7]:
y_test_df = pd.read_csv('../../data/electricity/y_test_df.csv')
y_test_df

                 datetime_utc  price_de
0   2023-11-10 23:00:00+00:00     87.30
1   2023-11-11 00:00:00+00:00     85.89
2   2023-11-11 01:00:00+00:00     85.88
3   2023-11-11 02:00:00+00:00     83.21
4   2023-11-11 03:00:00+00:00     82.71
5   2023-11-11 04:00:00+00:00     85.44
6   2023-11-11 05:00:00+00:00     86.30
7   2023-11-11 06:00:00+00:00     88.00
8   2023-11-11 07:00:00+00:00     92.00
9   2023-11-11 08:00:00+00:00     94.89
10  2023-11-11 09:00:00+00:00     91.28
11  2023-11-11 10:00:00+00:00     90.22
12  2023-11-11 11:00:00+00:00     87.94
13  2023-11-11 12:00:00+00:00     87.80
14  2023-11-11 13:00:00+00:00     91.50
15  2023-11-11 14:00:00+00:00    102.87
16  2023-11-11 15:00:00+00:00    115.72
17  2023-11-11 16:00:00+00:00    127.98
18  2023-11-11 17:00:00+00:00    135.76
19  2023-11-11 18:00:00+00:00    124.47
20  2023-11-11 19:00:00+00:00    113.51
21  2023-11-11 20:00:00+00:00    102.58
22  2023-11-11 21:00:00+00:00     92.38
23  2023-11-11 22:00:00+00:00     87.41

In [8]:
feature_variable = test_df.drop(columns='datetime_utc').columns
target_variable = 'price_de'
timestemp_col = 'datetime_utc'

hyperparameters = {
    "in_length": 7*24,             # Using 7 days (168 hours) of past observations
    "step_size": 24,               # Sliding the window by 24 steps each time
    "target_sequence_length": 24, # Forecasting 48 hours ahead
    "n_estimators": 20,            # Number of gradient boosted trees
    "max_depth": 6,                # Maximum depth of a tree
    "subsample": 0.5,              # Fraction of samples to be used for fitting each tree
    "min_child_weight": 1,         # Minimum sum of instance weight (hessian) needed in a child
    # "selected_features": [target_variable]  # Features selected for training the model
}

In [204]:
# feature_variable = test_df.drop(columns='datetime_utc').columns
# target_variable = 'price_de'
# timestemp_col = 'datetime_utc'

# hyperparameters = {
#     "in_length": 7*24,             # Using 7 days (168 hours) of past observations
#     "step_size": 24,               # Sliding the window by 24 steps each time
#     "target_sequence_length": 24,  # Forecasting 24 hours ahead
#     "n_estimators": 453,           # Number of gradient boosted trees
#     "max_depth": 3,                # Maximum depth of a tree
#     "learning_rate": 0.015023967309028208,
#     "subsample": 0.8634860353472612,              # Fraction of samples to be used for fitting each tree
#     "min_child_weight": 2,         # Minimum sum of instance weight (hessian) needed in a child
#     'gamma': 0.34786437524253294,
#     # "selected_features": [target_variable]  # Features selected for training the model
# }

In [9]:
def get_indices_entire_sequence(data: pd.DataFrame, hyperparameters: dict) -> list:
    """
    Produce all the start and end index positions that are needed to produce
    the sub-sequences for the dataset.

    Args:
        data (pd.DataFrame): Partitioned data set, e.g., training data
        hyperparameters (dict): A dictionary containing the hyperparameters
        
    Return:
        indices: a list of tuples
    """

    window_size = hyperparameters['in_length'] + hyperparameters['target_sequence_length']
    step_size = hyperparameters['step_size']
    stop_position = len(data) - 1

    subseq_first_idx = 0
    subseq_last_idx = window_size

    indices = []

    while subseq_last_idx < stop_position:
        indices.append((subseq_first_idx, subseq_last_idx))
        subseq_first_idx += step_size
        subseq_last_idx += step_size

    return indices

In [10]:
def get_x_y(
        indices: list,
        data: pd.DataFrame,
        target_variable: str,
        feature_variable: list,
        target_sequence_length: int,
        input_seq_len: int,
        # target_col: str = 'price_de'
) -> Tuple[np.array, np.array]:
    
    print ("Preparing data...")
    """
    Obtaining the model inputs and targets (X,Y)
    """
    
    x_data = data[feature_variable].values
    y_data = data[target_variable].values

    for i, idx in enumerate(indices):

        x_instance = x_data[idx[0]:idx[1]]
        y_instance = y_data[idx[0]:idx[1]]

        x = x_instance[0: input_seq_len]
        y = y_instance[input_seq_len:input_seq_len + target_sequence_length]

        assert len(x) == input_seq_len
        assert len(y) == target_sequence_length

        if i == 0:
            X = x.reshape(1, -1)
            Y = y.reshape(1, -1)
        else:
            X = np.concatenate((X, x.reshape(1, -1)), axis=0)
            Y = np.concatenate((Y, y.reshape(1, -1)), axis=0)

    print ("Finished preparing data!")

    return X, Y

In [11]:
training_indices = get_indices_entire_sequence(
        data=train_df,
        hyperparameters=hyperparameters)

x_train, y_train = get_x_y(
        indices=training_indices, 
        data=train_df,
        target_variable=target_variable,
        feature_variable=feature_variable,
        target_sequence_length=hyperparameters["target_sequence_length"],
        input_seq_len=hyperparameters["in_length"]
        )

model = xgb.XGBRegressor(
        n_estimators=hyperparameters["n_estimators"],
        max_depth=hyperparameters["max_depth"],
        subsample=hyperparameters["subsample"],
        learning_rate=hyperparameters["learning_rate"],
        min_child_weight=hyperparameters["min_child_weight"],
        gamma=hyperparameters["gamma"],
        objective="reg:squarederror",
        tree_method="hist"
    )

trained_model = MultiOutputRegressor(model).fit(x_train, y_train)

x_test = train_df[feature_variable].iloc[-hyperparameters["in_length"]:].to_numpy().reshape(1, -1)

y_hat = trained_model.predict(x_test).reshape(-1, 1)
y = y_test_df['price_de'].to_numpy().reshape(-1, 1)

Preparing data...
Finished preparing data!

KeyError: 'learning_rate'

In [252]:
def smape(y_true, y_pred):
    """
    Calculate the Symmetric Mean Absolute Percentage Error (SMAPE).

    Args:
    y_true (array): True values.
    y_pred (array): Predicted values.

    Returns:
    float: SMAPE score.
    """
    # Avoid division by zero by adding a small epsilon
    epsilon = np.finfo(np.float64).eps
    denominator = np.maximum(np.abs(y_true) + np.abs(y_pred) + epsilon, 0.5 + epsilon)

    # Calculate SMAPE
    smape_value = 100/len(y_true) * np.sum(2 * np.abs(y_pred - y_true) / denominator)
    return smape_value

In [131]:
y = y_test_df['price_de'].to_numpy().reshape(-1, 1)

In [132]:
smape(y, y_hat)

5.166340835403105

### Hyperparameter Tuner

In [280]:
train_val_list = [train_df.iloc[:-8*24], train_df.iloc[-8*24:-8*24+24]]

In [290]:
x_test = train_val_list[0][feature_variable].iloc[-hyperparameters["in_length"]:].to_numpy().reshape(1, -1)

,price_de_lag_336,price_de_avg_24,price_at_lag_24,price_at_avg_24,price_fr_lag_24,price_fr_avg_24,load_de_lag_24,load_de_lag_168,load_at,gen_de,gen_de_lag_168,gen_at,gen_fr,windon_de,solar_de,price_de
8638,109.84,121.345417,112.80,121.550417,112.80,119.191667,50142.1900,49793.9300,5456.0,40724.54,49557.60,4505.4,54701.5,5210.5575,0.0,104.85
8639,123.99,121.973750,90.60,122.132083,92.53,119.692917,46534.4800,46380.6600,5417.0,38588.05,47006.87,3634.4,52974.0,4167.0425,0.0,104.56
8640,115.00,122.282917,91.21,122.370417,93.43,119.760417,43813.0650,44474.8500,5128.0,37243.16,45615.36,3369.0,51892.5,4139.7425,0.0,97.33
8641,107.14,122.600417,89.33,122.485833,92.57,119.151667,42472.1125,42929.7575,5007.0,36606.68,45950.37,3414.6,50446.5,4213.1225,0.0,95.11
8642,101.40,122.932083,88.12,122.545000,90.00,118.067083,41754.5775,42512.3525,4874.0,36690.02,46651.51,3374.9,49315.0,4286.1500,0.0,95.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8801,116.79,53.631250,79.44,62.185833,71.90,51.807083,54640.0175,62010.9675,7656.0,60996.96,52689.68,8200.7,62167.0,28076.5400,0.0,93.84
8802,94.75,55.073333,56.91,63.515833,56.59,53.121667,53419.8650,60341.8425,7115.0,57295.58,50524.15,7887.4,60431.5,26418.1625,0.0,87.76
8803,97.00,56.591667,43.90,64.880417,40.87,54.592500,50400.5225,56669.1775,6625.0,52836.57,47204.90,7245.1,59168.5,24301.5075,0.0,75.95
8804,83.60,58.179167,36.87,66.355417,38.83,55.985833,48097.4250,53357.2275,6356.0,48543.63,44099.05,7248.0,56966.0,21763.3175,0.0,72.27
8805,77.59,59.774167,20.19,67.890833,21.68,57.459167,45858.3225,49658.6375,5930.0,45520.59,40724.54,7191.8,55425.5,19827.2875,0.0,57.04

In [295]:
import optuna

feature_variable = train_val_list[0].drop(columns='datetime_utc').columns
target_variable = 'price_de'
timestemp_col = 'datetime_utc'

y = train_val_list[1][target_variable].to_numpy().reshape(-1, 1)

training_indices = get_indices_entire_sequence(
        data=train_val_list[0],
        hyperparameters=hyperparameters)

x_train, y_train = get_x_y(
        indices=training_indices, 
        data=train_val_list[0],
        target_variable=target_variable,
        feature_variable=feature_variable,
        target_sequence_length=hyperparameters["target_sequence_length"],
        input_seq_len=hyperparameters["in_length"]
        )

def objective(trial):
    n_estimators = trial.suggest_int('n_estimators', 50, 200)
    max_depth = trial.suggest_int('max_depth', 2, 10)
    learning_rate = trial.suggest_float('learning_rate', 0.005, 0.1, log=True)
    subsample = trial.suggest_float('subsample', 0.3, 1.0)
    min_child_weight = trial.suggest_int('min_child_weight', 1, 10)
    gamma = trial.suggest_float('gamma', 0, 0.5)
    # colsample_bytree = trial.suggest_uniform('colsample_bytree', 0.5, 1.0)
    reg_alpha = trial.suggest_float('reg_alpha', 0, 1)
    reg_lambda = trial.suggest_float('reg_lambda', 0, 1)

    model = xgb.XGBRegressor(
        n_estimators=n_estimators,
        max_depth=max_depth,
        learning_rate=learning_rate,
        subsample=subsample,
        min_child_weight=min_child_weight,
        gamma=gamma,
        # colsample_bytree=colsample_bytree,
        reg_alpha=reg_alpha,
        reg_lambda=reg_lambda,
        objective="reg:squarederror",
        tree_method="hist"
    )

    model.fit(x_train, y_train)

    x_test = train_val_list[0][feature_variable].iloc[-hyperparameters["in_length"]:].to_numpy().reshape(1, -1)

    y_hat = model.predict(x_test).reshape(-1, 1)
    
    return smape(y, y_hat)

# def print_smape(trial):
#     print(f'Trial {trial.number}, SMAPE: {trial.value}')


study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials=15)

print('Best trial: score {}, params {}'.format(study.best_trial.value, study.best_trial.params))

Preparing data...

[I 2023-12-21 13:23:58,240] A new study created in memory with name: no-name-48ff06ef-587a-4862-8483-ac6ca6e0788e

Finished preparing data!

[I 2023-12-21 13:25:56,527] Trial 0 finished with value: 53.149024527982455 and parameters: {'n_estimators': 55, 'max_depth': 9, 'learning_rate': 0.024478740816665127, 'subsample': 0.3966150949762768, 'min_child_weight': 8, 'gamma': 0.20526729046198255, 'reg_alpha': 0.03751279344103531, 'reg_lambda': 0.16035536530772598}. Best is trial 0 with value: 53.149024527982455.
[I 2023-12-21 13:28:52,031] Trial 1 finished with value: 43.112115964105044 and parameters: {'n_estimators': 155, 'max_depth': 5, 'learning_rate': 0.09037350531003088, 'subsample': 0.39676821581205, 'min_child_weight': 7, 'gamma': 0.16494854896981048, 'reg_alpha': 0.556754823029004, 'reg_lambda': 0.3306773743087448}. Best is trial 1 with value: 43.112115964105044.
[I 2023-12-21 13:31:34,414] Trial 2 finished with value: 47.821329345105916 and parameters: {'n_estimators': 90, 'max_depth': 6, 'learning_rate': 0.026010683915489764, 'subsample': 0.5939453699682875, 'min_child_weight': 7, 'gamma': 0.34735240572346837, 'reg_alpha': 0.5343425668412731, 'reg_lambda': 0.9582299014429883}. Best is trial 1 with value: 43.112115964105044.
[I 2023-12-21 13:37:56,755] Trial 3 finished with value: 42.820680499801256 and parameters: {'n_estimators': 151, 'max_depth': 9, 'learning_rate': 0.02300852610483229, 'subsample': 0.5472014655025191, 'min_child_weight': 7, 'gamma': 0.0926913959678633, 'reg_alpha': 0.5607752393883084, 'reg_lambda': 0.6749787099564066}. Best is trial 3 with value: 42.820680499801256.
[I 2023-12-21 13:40:05,184] Trial 4 finished with value: 44.830694165036206 and parameters: {'n_estimators': 110, 'max_depth': 5, 'learning_rate': 0.0813980248623634, 'subsample': 0.4807718918951409, 'min_child_weight': 8, 'gamma': 0.18273216801004077, 'reg_alpha': 0.407890059303027, 'reg_lambda': 0.33113012760240135}. Best is trial 3 with value: 42.820680499801256.
[I 2023-12-21 13:46:10,820] Trial 5 finished with value: 54.94856779842467 and parameters: {'n_estimators': 112, 'max_depth': 9, 'learning_rate': 0.011523785310572155, 'subsample': 0.8323748902582624, 'min_child_weight': 8, 'gamma': 0.35643007626887385, 'reg_alpha': 0.2484409912230805, 'reg_lambda': 0.41693531186529176}. Best is trial 3 with value: 42.820680499801256.
[I 2023-12-21 13:47:10,196] Trial 6 finished with value: 67.24181649980115 and parameters: {'n_estimators': 78, 'max_depth': 3, 'learning_rate': 0.007068165041330318, 'subsample': 0.9528099973827868, 'min_child_weight': 5, 'gamma': 0.45711817667979965, 'reg_alpha': 0.7193103275350518, 'reg_lambda': 0.5003526133620493}. Best is trial 3 with value: 42.820680499801256.
[I 2023-12-21 13:54:02,000] Trial 7 finished with value: 42.02858497117343 and parameters: {'n_estimators': 124, 'max_depth': 9, 'learning_rate': 0.040558052283461946, 'subsample': 0.7044875606686882, 'min_child_weight': 5, 'gamma': 0.3875758433294676, 'reg_alpha': 0.09845583265192903, 'reg_lambda': 0.7897072707112114}. Best is trial 7 with value: 42.02858497117343.
[I 2023-12-21 13:58:36,189] Trial 8 finished with value: 63.10362833214771 and parameters: {'n_estimators': 121, 'max_depth': 6, 'learning_rate': 0.006117862578870449, 'subsample': 0.31633258512393125, 'min_child_weight': 1, 'gamma': 0.07033366880260905, 'reg_alpha': 0.8199140445914276, 'reg_lambda': 0.7028161099122262}. Best is trial 7 with value: 42.02858497117343.
[I 2023-12-21 14:02:46,799] Trial 9 finished with value: 48.39924205287904 and parameters: {'n_estimators': 168, 'max_depth': 8, 'learning_rate': 0.013627024423404752, 'subsample': 0.30185012219187674, 'min_child_weight': 10, 'gamma': 0.029968977367124006, 'reg_alpha': 0.9800779868454723, 'reg_lambda': 0.44914182072791986}. Best is trial 7 with value: 42.02858497117343.
[I 2023-12-21 14:15:49,850] Trial 10 finished with value: 39.81650278942883 and parameters: {'n_estimators': 179, 'max_depth': 10, 'learning_rate': 0.04648892720045159, 'subsample': 0.7627876056327054, 'min_child_weight': 3, 'gamma': 0.49299772795066893, 'reg_alpha': 0.11555613777218268, 'reg_lambda': 0.983417349427868}. Best is trial 10 with value: 39.81650278942883.
[I 2023-12-21 14:29:20,409] Trial 11 finished with value: 36.24512546409168 and parameters: {'n_estimators': 188, 'max_depth': 10, 'learning_rate': 0.04582617138017668, 'subsample': 0.7042668222835616, 'min_child_weight': 3, 'gamma': 0.47446774169252914, 'reg_alpha': 0.04234087357014786, 'reg_lambda': 0.9876203753806796}. Best is trial 11 with value: 36.24512546409168.
[I 2023-12-21 14:44:40,120] Trial 12 finished with value: 36.775936943049 and parameters: {'n_estimators': 197, 'max_depth': 10, 'learning_rate': 0.04830521951388083, 'subsample': 0.7212327514807602, 'min_child_weight': 2, 'gamma': 0.45765713460983265, 'reg_alpha': 0.008837581121710208, 'reg_lambda': 0.9854276719758106}. Best is trial 11 with value: 36.24512546409168.
[I 2023-12-21 14:59:10,562] Trial 13 finished with value: 37.88235518812936 and parameters: {'n_estimators': 199, 'max_depth': 10, 'learning_rate': 0.052066122946410255, 'subsample': 0.6613532905219177, 'min_child_weight': 2, 'gamma': 0.41539699232343785, 'reg_alpha': 0.018309107986919305, 'reg_lambda': 0.992036798588328}. Best is trial 11 with value: 36.24512546409168.
[I 2023-12-21 15:08:19,014] Trial 14 finished with value: 39.49477100204656 and parameters: {'n_estimators': 189, 'max_depth': 7, 'learning_rate': 0.059969328061803974, 'subsample': 0.768995471481744, 'min_child_weight': 3, 'gamma': 0.4968958720402855, 'reg_alpha': 0.23870438010176234, 'reg_lambda': 0.8362320541856051}. Best is trial 11 with value: 36.24512546409168.

Best trial: score 36.24512546409168, params {'n_estimators': 188, 'max_depth': 10, 'learning_rate': 0.04582617138017668, 'subsample': 0.7042668222835616, 'min_child_weight': 3, 'gamma': 0.47446774169252914, 'reg_alpha': 0.04234087357014786, 'reg_lambda': 0.9876203753806796}

### Sliding window train set generator

In [297]:
index_cutoffs = [24*i for i in range(7, -1, -1)]
index_cutoffs

[168, 144, 120, 96, 72, 48, 24, 0]

In [374]:
train_df_list = [train_df.iloc[:-idx] if idx != 0 else train_df for idx in index_cutoffs]
index_ceiling = [x.index.stop for x in train_df_list]
test_df_list = [train_df['price_de'].iloc[idx:idx+24] if idx!=8998 else test_df['price_de'] for idx in index_ceiling]

In [378]:
[x.index.start for x in train_df_list]

[0, 0, 0, 0, 0, 0, 0, 0]

In [375]:
[x.index.stop for x in train_df_list]

[8830, 8854, 8878, 8902, 8926, 8950, 8974, 8998]

In [376]:
[x.index for x in test_df_list]

[RangeIndex(start=8830, stop=8854, step=1),
 RangeIndex(start=8854, stop=8878, step=1),
 RangeIndex(start=8878, stop=8902, step=1),
 RangeIndex(start=8902, stop=8926, step=1),
 RangeIndex(start=8926, stop=8950, step=1),
 RangeIndex(start=8950, stop=8974, step=1),
 RangeIndex(start=8974, stop=8998, step=1),
 RangeIndex(start=0, stop=24, step=1)]

In [380]:
test_df_list = [train_df['price_de'].iloc[idx:idx+hyperparameters['step_size']] if idx!=index_ceiling[-1] else test_df['price_de'] for idx in index_ceiling]

In [385]:
test_df_list[0].to_numpy().reshape(-1, 1)

array([[45.72],
       [32.06],
       [30.  ],
       [22.01],
       [19.19],
       [15.4 ],
       [16.13],
       [25.08],
       [25.85],
       [20.  ],
       [13.95],
       [15.2 ],
       [20.  ],
       [21.14],
       [30.79],
       [42.69],
       [40.  ],
       [48.76],
       [40.  ],
       [29.61],
       [12.82],
       [10.4 ],
       [11.73],
       [ 7.05]])

In [366]:
test_df_list[-2]

Series([], Name: price_de, dtype: float64)

### BM14 sliding windows

In [13]:
index_cutoffs = [24*i for i in range(14, -1, -1)]
train_df_list = [train_df.iloc[:-idx] if idx != 0 else train_df for idx in index_cutoffs]
index_ceiling = [x.index.stop for x in train_df_list]
test_df_list = [train_df['price_de'].iloc[idx:idx+hyperparameters['step_size']] if idx!=index_ceiling[-1] else test_df['price_de'] for idx in index_ceiling]

In [296]:
feature_variable = test_df.drop(columns='datetime_utc').columns
target_variable = 'price_de'
timestemp_col = 'datetime_utc'

hyperparameters = {
    "in_length": 7*24,             # Using 7 days (168 hours) of past observations
    "step_size": 24,               # Sliding the window by 24 steps each time
    "target_sequence_length": 24,  # Forecasting 24 hours ahead
    "n_estimators": 188,           # Number of gradient boosted trees
    "max_depth": 10,                # Maximum depth of a tree
    "learning_rate": 0.04582617138017668,
    "subsample": 0.7042668222835616,              # Fraction of samples to be used for fitting each tree
    "min_child_weight": 3,         # Minimum sum of instance weight (hessian) needed in a child
    'gamma': 0.47446774169252914,
    'reg_alpha': 0.04234087357014786,
    'reg_lambda': 0.9876203753806796
    # "selected_features": [target_variable]  # Features selected for training the model
}

In [300]:
# empty y_hat dataframe
y_hat_df = pd.concat([train_df.iloc[-168:][['datetime_utc']], test_df[['datetime_utc']]], axis=0).reset_index(drop=True)
y_hat = np.empty((0, x_test.shape[0]))

for train_df_temp in [train_df_list[0]]:

        training_indices = get_indices_entire_sequence(
                data=train_df_temp,
                hyperparameters=hyperparameters)

        x_train, y_train = get_x_y(
                indices=training_indices, 
                data=train_df_temp,
                target_variable=target_variable,
                feature_variable=feature_variable,
                target_sequence_length=hyperparameters["target_sequence_length"],
                input_seq_len=hyperparameters["in_length"]
                )

        model = xgb.XGBRegressor(
                n_estimators=hyperparameters["n_estimators"],
                max_depth=hyperparameters["max_depth"],
                subsample=hyperparameters["subsample"],
                learning_rate=hyperparameters["learning_rate"],
                min_child_weight=hyperparameters["min_child_weight"],
                gamma=hyperparameters["gamma"],
                reg_alpha=hyperparameters["reg_alpha"],
                reg_lambda=hyperparameters["reg_lambda"],
                objective="reg:squarederror",
                tree_method="hist"
        )

        trained_model = MultiOutputRegressor(model).fit(x_train, y_train)

#         x_test = train_df_temp[feature_variable].iloc[-hyperparameters["in_length"]:].to_numpy().reshape(1, -1)

#         y_hat = np.vstack((y_hat, trained_model.predict(x_test).reshape(-1, 1)))


# y = y_test_df['price_de'].to_numpy().reshape(-1, 1)

Preparing data...
Finished preparing data!

In [322]:
x_test = train_df[feature_variable].iloc[-hyperparameters["in_length"]:].to_numpy().reshape(1, -1)

y_hat = trained_model.predict(x_test).reshape(-1, 1)

In [323]:
smape(y_hat, y_test_df['price_de'].to_numpy().reshape(-1, 1))

9.4731683274814