In [1]:
import numpy as np
import pandas as pd

In [19]:
from ESRNN.m4_data import *
from ESRNN.utils_evaluation import evaluate_prediction_owa
from ESRNN.utils_visualization import plot_grid_prediction

In [20]:
X_train_df, y_train_df, X_test_df, y_test_df = prepare_m4_data(dataset_name="Hourly",
                                                               directory="../data/M4",
                                                               num_obs=414)

In [4]:
arima = pd.read_csv('../results/m4/y_hat_df_arima.csv')
theta = pd.read_csv('../results/m4/y_hat_df_theta.csv')
xgb = pd.read_csv('../results/m4/y_hat_df_arima.csv')
gru = pd.read_csv('../results/m4/y_hat_df_gru.csv')
lstm = pd.read_csv('../results/m4/y_hat_df_lstm.csv')

In [6]:
y_hat_df_avg = arima.copy()

In [15]:
avg_df = pd.concat([arima['y_hat'], theta['y_hat'], xgb['y_hat'], gru['y_hat'], lstm['y_hat']], axis=1).mean(axis=1)

In [16]:
avg_df

0          645.735820
1          579.507358
2          530.940158
3          494.857012
4          469.797596
             ...
19867    26274.804800
19868    25713.065600
19869    25123.394400
19870    24737.243000
19871    23300.674800
Length: 19872, dtype: float64

In [17]:
y_hat_df_avg['y_hat'] = avg_df

In [18]:
y_hat_df_avg

      unique_id                   ds         y_hat
0            H1  1970-01-30 04:00:00    645.735820
1            H1  1970-01-30 05:00:00    579.507358
2            H1  1970-01-30 06:00:00    530.940158
3            H1  1970-01-30 07:00:00    494.857012
4            H1  1970-01-30 08:00:00    469.797596
...         ...                  ...           ...
19867       H99  1970-01-31 23:00:00  26274.804800
19868       H99  1970-02-01 00:00:00  25713.065600
19869       H99  1970-02-01 01:00:00  25123.394400
19870       H99  1970-02-01 02:00:00  24737.243000
19871       H99  1970-02-01 03:00:00  23300.674800

[19872 rows x 3 columns]

In [21]:
evaluate_prediction_owa(y_hat_df_avg, y_train_df, X_test_df, y_test_df, naive2_seasonality=24)

===============  Model evaluation  ==============
OWA: 0.874
SMAPE: 16.265
MASE: 2.069

(0.8744226165997981, 2.06941449445906, 16.26523508424328)